<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Banking">
    <test name="DepositTest">
        <classes>
            <class name="product.Banking.Tests.TestDeposit"/>
        </classes>
    </test>
</suite>


        <!--  mvn  test -DdefaultSuiteFiles="./src/test/resources/testng.xml," -->
